/* apply a natural box layout model to all elements, but allowing components to change */
@import "bourbon";
@import "neat";
@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
//** MAIN STYLING **//
body {
  margin: 0;
  background: purple;
}

.clock {
  display: flex;
  position: relative;
  min-height: 100vh;
  align-items: center;
}

.time  {
  flex: 1;
  text-align: center;
  margin: auto;
  background: red;
  color: white;
}

.color {
  position: absolute;
}
